In [28]:
import pandas as pd
from sqlalchemy import create_engine

from time import time

In [6]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [7]:
engine.connect()

In [8]:
df1 = pd.read_csv("green_tripdata_2019-09.csv.gz", nrows=100)

In [31]:
df11 = pd.read_csv("green_tripdata_2019-09.csv.gz", )

/tmp/ipykernel_3592/1000965107.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df11 = pd.read_csv("green_tripdata_2019-09.csv.gz", )

In [32]:
len(df11)

449063

In [9]:
df2 = pd.read_csv("taxi+_zone_lookup.csv", nrows=100)

In [10]:
df1['lpep_pickup_datetime'] = pd.to_datetime(df1['lpep_pickup_datetime'])
df1['lpep_dropoff_datetime'] = pd.to_datetime(df1['lpep_dropoff_datetime'])

In [11]:
df1.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1,65,189,5,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1,1,0.0
1,2,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1,97,225,5,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
2,2,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1,37,61,5,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2,1,0.0
3,2,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1,145,112,1,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1,1,0.0
4,2,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1,112,198,1,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1,1,0.0

In [12]:
df2.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [13]:
print(pd.io.sql.get_schema(df1, 'yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "lpep_pickup_datetime" TIMESTAMP,
  "lpep_dropoff_datetime" TIMESTAMP,
  "store_and_fwd_flag" TEXT,
  "RatecodeID" INTEGER,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "ehail_fee" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "payment_type" INTEGER,
  "trip_type" INTEGER,
  "congestion_surcharge" REAL
)

In [14]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv.gz", chunksize=100000, iterator=True)

In [16]:
df = next(df_iter)

In [17]:
df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])

In [19]:
df.head(0).to_sql(name='yellow_taxi_data', con=engine, if_exists="replace")

0

In [22]:
sql = 'SELECT * from yellow_taxi_data'

In [30]:
df_test = pd.read_sql(sql,con=engine)
df_test

,index,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,...,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,100000,2.0,2019-09-08 21:53:45,2019-09-08 21:59:09,N,1.0,7,179,1.0,0.89,...,0.50,0.5,0.0,0.00,None,0.3,6.80,2.0,1.0,0.0
1,100001,2.0,2019-09-08 21:26:54,2019-09-08 21:33:10,N,1.0,7,129,1.0,2.01,...,0.50,0.5,0.0,0.00,None,0.3,9.30,2.0,1.0,0.0
2,100002,1.0,2019-09-08 21:33:39,2019-09-08 21:47:31,N,1.0,74,213,1.0,6.20,...,0.50,0.5,0.0,0.00,None,0.3,20.30,2.0,1.0,0.0
3,100003,2.0,2019-09-08 21:21:13,2019-09-08 21:35:18,N,1.0,66,189,1.0,2.45,...,0.50,0.5,3.2,0.00,None,0.3,16.00,1.0,1.0,0.0
4,100004,2.0,2019-09-08 21:43:43,2019-09-08 21:49:48,N,1.0,33,195,1.0,1.22,...,0.50,0.5,0.0,0.00,None,0.3,7.80,2.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349058,449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,None,NaN,66,71,NaN,7.84,...,2.75,0.5,0.0,0.00,None,0.0,46.50,NaN,NaN,NaN
349059,449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,None,NaN,55,26,NaN,3.56,...,2.75,0.5,0.0,0.00,None,0.0,29.00,NaN,NaN,NaN
349060,449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,None,NaN,139,78,NaN,18.47,...,2.75,0.5,0.0,6.12,None,0.0,59.84,NaN,NaN,NaN
349061,449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,None,NaN,242,188,NaN,20.10,...,2.75,0.5,0.0,6.12,None,0.0,67.59,NaN,NaN,NaN
349062,449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,None,NaN,155,189,NaN,5.87,...,2.75,0.5,0.0,0.00,None,0.0,29.32,NaN,NaN,NaN

In [24]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")

1000

In [29]:
while True:
    t_start = time()
    
    df = next(df_iter)
    df['lpep_pickup_datetime'] = pd.to_datetime(df['lpep_pickup_datetime'])
    df['lpep_dropoff_datetime'] = pd.to_datetime(df['lpep_dropoff_datetime'])
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists="append")
    
    t_end = time()
    
    print(f"inserting another chunk... it took {t_end - t_start} seconds")

inserting another chunk... it took 10.058759212493896 seconds

/tmp/ipykernel_3592/1630264890.py:4: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

inserting another chunk... it took 10.09266996383667 seconds
inserting another chunk... it took 4.283907651901245 seconds

StopIteration: